/*font-weight*/
span, em{
  font-weight: bold;
}

/*hover*/
nav li:hover, nav p:hover{
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

#filtres p:hover{
  box-shadow: 0 0 5px #0065fc;
  cursor: pointer;
}

/*liens*/
a{
  text-decoration: none;
  color: inherit;
}

/*marges du body*/
body{
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/*header*/
header{
  padding: 0 2.5%;
  margin-bottom: 2em;
}

/*zone superieure du header avec le logo et la nagivaiton*/
#bandeau{
  display: flex;
  justify-content: space-between;
}

#logo{
  padding-top: 2em;
}

nav{
  display: flex;
  justify-content: space-around;
}

nav ul{
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex: auto;
}

nav li, nav p{
  margin: 0;
  padding: 2.5em 3em 0;
  border-top: 3px solid transparent;
}

nav p{
  color: #0065fc;
}

/*Barre de recherche*/
#barre_recherche{
  display: inline-flex;
}

input::placeholder{
  color: black;
  font-weight: bold;
}

input, button{
  padding: 1em 1.5em;
}

#map_marker{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
}

#search input{
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 14pt;
  font-weight: bold;
}

#submit{
  background-color: #0065fc;
  color: white;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
}

#submit span{
  font-size: 1.2em;
}

/*Filtre du header*/

#filtres{
  height: 48px;
  display: inline-flex;
  gap: 2em;
  align-items: center;
  margin-top: 1.5em;
}

#filtres p{
  border: 2px solid #d9d9d9;
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  padding-right: 1em;
}

#filtres i{
  background-color: #deebff;
  border: 2px solid #deebff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  margin: -2px;
  margin-right: 0.5em;
}

/* Informations*/
#informations{
  display: inline-flex;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

#informations i{
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  padding: 3px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

/*Icônes header*/
#filtres i, #informations i{
  color: #0065fc;
}

/*ajustement des marges dans la partie main*/
main{
  width: 95%;
  margin: auto;
  margin-bottom: 4em;
}

/*Font-size*/
main h2{
  font-size: 1.8em;
}

main h4{
  font-size: 1.5em;
}

/*Border-radius*/
main article{
  border-radius: 25px;
}

/*Section hébergements et populaires*/
#heberg_pop{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2em;
  margin-bottom: 4em;
}

#hebergements, #populaires{
  padding: 2em 3em 3em 3em;
  border-radius: 25px;
}

#heberg_pop article{
  background-color: #ffff;
  padding: 6px;
  box-shadow: 0px 0px 15px #c9c9c9;
}

/*Partie hébergements*/
#hebergements{
  background-color: #f2f2f2;
  flex: 2;
}

#img_hebergements{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
  padding-bottom: 1em;
}

#img_hebergements a{
  min-width: 250px;
  line-height: 0.7em;
  flex: 1 30%;
}

#hebergements img{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#hebergements article > div{
  padding: 0 0 5px 1em;
}

/*Populaires*/
#populaires{
  background-color: #f2f2f2;
  flex: 1;
}

#pop_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img_populaires{
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#populaires article{
  background-color: white;
  height: 180px;
  width: auto;
  min-width: 400px;
  display: flex;
  gap: 1em;
}

#populaires img{
  width: 200px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

#populaires article div{
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

#populaires article span{
  margin-top: auto;
}

/*Notation*/
main article .fa{
  color: #0065fc;
}

main article .fas{
  color: #d9d9d9;
}


/*Section activités*/

#activites{
  display: flex;
  gap: 2em;
}

#activites_1, #activites_2{
  display: flex;
  gap: 2em;
  flex: 1;
  
}

a, .img_split{
  flex: 1;
}

.img_split{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#activites article{
  box-shadow: 0px 0px 15px #c9c9c9;
}

.img_small img{
  height: 150px;
}

.img_medium img{
  height: 200px;
}

.img_large img{
  height: 450px;
}

#activites img{
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

#activites h3{
  margin: 0;
  padding: 1em 0.5em 1em 1em;
}

/*Footer*/
footer{
  background-color: #f2f2f2;
  height: 217px;
  display: flex;
  padding: 2em 2.5% 4em;
}

.footer_box{
  flex: 1;
}