/*marges du body*/
body{
    margin: 0;
}

/*header*/
header{
    background-color: orange;
    height: 410px;
}

/*zone superieure du header avec le logo et la nagivaiton*/
header #bandeau{
    display: flex;
    align-items: flex-start;
}

header #logo{
    background-color: blueviolet;
    width: 20%;
    height: 50px;
}

nav{
    margin-left: auto;
}

#elem_nav{
    list-style-type: none;
    display: flex;
}
#elem_nav li{
    margin-left: 10px;
}

/*Filtre du header*/

#filtres{
    background-color: burlywood;
    width: 40%;
    display: flex;
    align-items: center;
}
#elem_filtres{
    list-style-type: none;
    display: flex;
}

#filtres li{
    margin-right: 30px;
}

/*ajustement des marges dans la partie main*/
main{
    width: 95%;
    margin: auto;
}

/*Section hébergements et populaires*/
#heberg_pop{
    background-color: brown;
    height: 625px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Partie hébergements*/
#hebergements{
    background-color: blue;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}

.img_hebergement{
    background-color: white;
    width: 30%;
    height: 200px;
}

#populaires{
    background-color: #F2F2F2;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.img_populaires{
    background-color: white;
    width: 80%;
    height: 143px;
}

/*Section activités*/

#activites{
    height: 632px;
    display: flex;
    justify-content: space-between;
}

#activites1{
    height: 445px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img_activites1{
    background-color: cadetblue;
    height: auto;
    flex: 1;
}
.img_1c_2r{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.img_activites2{
    background-color: darkgoldenrod;
    flex: 4;
}
.img_activites3{
    background-color: navy;
    flex: 3;
}

#activites2{
    background-color: crimson;
    height: 445px;
    flex: 1;
}

/*Footer*/
footer{
    background-color: #F2F2F2;
    height: 217px;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
}

.footer_box{
    background-color: blue;
    width: 30%;
    height: 200px;
}