/*marges du body*/
body{
    margin: 0;
}

/*header*/
header{
    background-color: orange;
    height: 410px;
    padding: 0 2.5%;
}

/*zone superieure du header avec le logo et la nagivaiton*/
header #bandeau{
    display: flex;
    align-items: flex-start;
}

header #logo{
    width: 20%;
    padding-top: 45px;
}

nav{
    margin-left: auto;
}

#elem_nav{
    list-style-type: none;
    display: flex;
    margin-top: 0;
}

nav li{
    margin-left: 5em;
    margin-top: 0;
    padding: 40px 15px 0;
}
/*Barre de recherche*/
#barre_recherche{
    background-color: grey;
    display: inline-flex;
    height: 50px;
}

/*Filtre du header*/

#filtres{
    background-color: burlywood;
    width: 65%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Informations*/
#informations{
    background-color: indianred;
    display: inline-flex;
    align-items: center;
    gap: 3em;
}

/*ajustement des marges dans la partie main*/
main{
    width: 95%;
    margin: auto;
}

/*Section hébergements et populaires*/
#heberg_pop{
    height: 625px;
    display: flex;
}

/*Partie hébergements*/
#hebergements{
    background-color: brown;
    width: 850px;
    height: 625px;
    display: flex;
    flex-direction: column;
}

#heberg_head, #img_hebergements, #heberg_footer{
    width: 770px;
    margin: 0 auto;
}

#img_hebergements{
    height: 430px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.img_hebergement{
    background-color: white;
    width: 245px;
    height: 200px;
}

#populaires{
    background-color: #F2F2F2;
    width: 420px;
    height: 625px;
    display: flex;
    flex-direction: column;
}
#pop_head{
    display: inline-flex;
    justify-content: space-between;
}

#img_populaires{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_populaire{
    background-color: white;
    width: 345px;
    height: 143px;
}

/*Section activités*/

#activites{
    display: flex;
    justify-content: space-between;
}

#activites1, #activites2{
    height: 445px;
    display: flex;
}

.img_activites1, .img_activites4{
    background-color: cadetblue;
    width: 300px;
    height: auto;
}
.img_activites2, .img_activites6{
    background-color: darkgoldenrod;
    width: 300px;
    height: 240px;
}
.img_activites3, .img_activites5{
    background-color: navy;
    width: 300px;
    height: 165px;
}
.img_1c_2r{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Footer*/
footer{
    background-color: #F2F2F2;
    height: 217px;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
}

.footer_box{
    background-color: blue;
    width: 30%;
    height: 200px;
}