body{

}

header{
    background-color: orange;
    height: 410px;
}

/*Section hébergements et populaires*/

#hebergements{
    background-color: blue;
    height: 625px;
}

#populaires{
    background-color: #F2F2F2;
    height: 625px;
}

/*Section activités*/

#activites{
    background-color: brown;
    height: 632px;
}

#activites1{
    background-color: chocolate;
}

#activites2{
    background-color: crimson;
}

/*Footer*/

footer{
    background-color: #F2F2F2;
    height: 217px;
}