/*marges du body*/
body{
    margin: 0;
}

/*header*/
header{
    background-color: orange;
    height: 410px;
}

/*zone superieure du header avec le logo et la nagivaiton*/
header #bandeau{
    display: flex;
    align-items: flex-start;
}

header #logo{
    background-color: blueviolet;
    width: 20%;
    height: 50px;
}

nav{
    margin-left: auto;
}

#elem_nav{
    list-style-type: none;
    display: flex;
}
#elem_nav li{
    margin-left: 10px;
}

/*Filtre du header*/

#filtres{
    background-color: burlywood;
    width: 40%;
    display: flex;
    align-items: center;
}
#elem_filtres{
    list-style-type: none;
    display: flex;
}

#filtres li{
    margin-right: 30px;
}

/*ajustement des marges dans la partie main*/
main{
    width: 95%;
    margin: auto;
}

/*Section hébergements et populaires*/
#heberg_pop{
    display: flex;
    flex-direction: row;
}

/*Partie hébergements*/
#hebergements{
    background-color: blue;
    flex: 2;
    height: 625px;
}

#grille_heberg{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img_hebergement{
    background-color: white;
    width: 30%;
    height: 200px;
}

#populaires{
    background-color: #F2F2F2;
    flex: 1;
    height: 625px;
    margin-left: 4%;
}

/*Section activités*/

#activites{
    height: 632px;
}

#flex_activites{
    display: flex;
}

#activites1{
    background-color: chocolate;
    width: 40%;
    height: 445px;
    flex: 1;

}

#activites2{
    background-color: crimson;
    width: 40%;
    height: 445px;
    flex: 1;
    margin-left: 4%;
}

/*Footer*/
footer{
    background-color: #F2F2F2;
    height: 217px;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
}

.footer_box{
    background-color: blue;
    width: 30%;
    height: 200px;
}