/***MAIN***/

/*ajustement des marges dans la partie main*/
main {
  width: 95%;
  margin: auto;
  margin-bottom: 4em;
}

/*Border-radius*/
.hosting-card, .popular-card, .activity-card {
  border-radius: 25px;
}

main figure {
  margin: 0;
}

/*Section hébergements et populaires*/
#hosting-popular {
  display: flex;
  gap: 2em;
  margin-bottom: 4em;
}

#hosting, #popular {
  padding: 2em 3em 3em 3em;
  border-radius: 25px;
}

.hosting-card, .popular-card {
  background-color: map-get($color-theme, card);
  padding: 6px;
  box-shadow: 0px 0px 15px map-get($color-theme, shadow);
}

/*Partie hébergements*/
#hosting {
  background-color: map-get($color-theme, container);
  flex: 2;
}

#hosting-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  a {
    flex: 1 30%;
    line-height: 0.7em;
  }
}

.hosting-card{
  min-width: 300px;
  &__image {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  &__caption{
    padding: 0 0 0.5rem 1em;
  }
}

/*Populaires*/
#popular {
  background-color: map-get($color-theme, container);
  flex: 1;
}

#popular-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popular-grid {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.popular-card {
  background-color: map-get($color-theme, card);
  height: 180px;
  display: flex;
  gap: 1em;
  &__image{
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  &__caption{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    span{
      margin-top: auto;
    }
    h3{
      margin-bottom: 0;
    }
  }
}

/*Notation*/
.hosting-card__caption .fa, .popular-card__caption .fa {
  color: map-get($color-theme, dominant);
}

.hosting-card__caption .fas, .popular-card__caption .fas {
  color: map-get($color-theme, item-border);
}

/*Section activités*/
#activities-grid {
  display: flex;
  gap: 2.5em;
}

#activites_1, #activites_2 {
  display: flex;
  gap: 2.5em;
  flex: 1;
  .img-large, .img-column {
    flex: 1;
  }
  .img-large {
    border-radius: 0 0 20px 20px;
  }
  
  .img-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.activity-card {
  box-shadow: 0px 0px 15px map-get($color-theme, shadow);
  border-radius: 20px;
  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    &--small {
      height: 110px;
    }
    &--medium {
      height: 150px;
    }
    &--large {
      height: 350px;
    }
  }
  &__caption h3 {
    margin: 0;
    padding: 1em;
  }
}
/*Obect-position pour Notre-Dame-de-la-Garde*/
#activites_2 .activity-card__image--small {
  object-position: 50% 25%;
}